<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"/>
<link rel="stylesheet" href="/css/dashboard.css" />

<div class="container">
  <div class="sidebar">
      <h1 class="head1">BEATSOCKET</h1>

      <div class="list-group">
        <a class="list-group-item" href=""><i
            class="fa fa-home"
            aria-hidden="true"
          ></i>&nbsp; Home</a>
      </div>

      <div class="song-list">
        <h1>GENRE</h1>
        <a class="song-list-first" href="">Rock</a><br /><br />
        <a class="song-list-second" href="">Jazz</a><br /><br />
        <a class="song-list-third" href="">Pop</a><br /><br />
        <a class="song-list-fourth" href="">Hip Hop</a><br /><br />
        <a class="song-list-fiveth" href="">Classic</a>
      </div>

      <div class="play-list">
        <h1>PLAYLISTS</h1>
        <a class="play-list-item" href="/user/playlist/{{user.id}}">Your Top songs</a><br />
      </div>
  </div>

  <div class="main">
    <div class="email bg-danger">
        <a href="/">
          <button class="btn"><i class="fa fa-power-off"></i>{{user.name}}, Logout</button>
        </a>
    </div>
        
        
    <h1>Popular</h1>
      <div class="card" data-flickity='{ "groupCells": true }'>

        {{#each popular}}
          <div class="card-box">
            <img class="model" src="/img/play.png" height="50" width="50" />
            <p>{{this.title}}</p>
            <p>{{this.likes.length}}</p>
          </div>
        {{/each}}

      </div>
      {{!-- <div class="recar"> --}}
        <div style="color: rgba(255, 255, 255, 0.8); padding: 20px;">
          <h1 style="color: whitesmoke;">Recent</h1>
          {{#each songs}}

              <div class="row w-100">
                  <div class="col" >
                      {{this.title}}
                  </div>
                  
                  <div class="col" >{{this.views}}</div>
                  <div class="col" >
                    <a href="/song/play/{{../user.id}}/{{this.id}}"><i class="fa fa-play-circle fa-2x"></i></a>
                  </div> 
                  <div class="col" >
                    <a href="/song/like/{{../user.id}}/{{this.id}}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                  </div>
                  {{#if ../playlist}}
                    <div class="col" >
                      <a href="/user/playlist/{{../user.id}}/{{this.id}}"><i class="fa fa-plus fa-2x"></i> playlist</a>
                    </div>
                  {{else}}
                    <div class="col" >
                      <a style="color: red;" href="/user/playlist/{{../user.id}}/{{this.id}}"><i class="fa fa-times fa-2x"></i> playlist</a> 
                    </div>
                  {{/if}}
              </div>

          {{/each}}
        </div>
          
        {{#if role}}
          <div class="text-center">
            <a href="/song/upload/{{user.id}}">
              <button class="btn btn-primary"><i class="fa fa-music"></i>Song upload</button>
            </a>
          </div>
          <div class="recent " style="color: rgba(255, 255, 255, 0.8);">
            <h1 style="color: whitesmoke;">Your uploads</h1>
            {{#each uploads}}
              <div class="row w-100" style="padding: 20px;">
                    <div class="col">{{this.title}}</div>
                    <div class="col">{{this.views}}</div>
                    <div class="col"><a href="/song/delete/{{../user.id}}/{{this.id}}"><i class="fa fa-trash fa-2x"></i></a></div> 
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>

    {{!-- </div> --}}
</div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script
      src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
    ></script>